/* UNIVERSAL DEBUG ------------------ */
/* This portion is used for experimental purposes and this portion must be empty when deployed */ /*
*{

}
*/

/* UNIVERSAL DEFAULTS */
/* the purpose of separating universal selector is to make a distinction to CSS rules that is permanently applied */
*{
  background: black;
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}


/* CSS-grid setup */
/* main grid = 3-rows 1-column */
body{
  width: 100vw;
  height: 100vh;
}
.g0{
  display: grid;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 70px 1fr 15px;
  grid-template-areas: "g0r01" "g0r02" "g0r03" "g0r04";
}
.g0r01{
  grid-area: g0r01;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}

.g0r02{
  grid-area: g0r02;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  justify-items: space-around;
  align-content: center;
  align-items: center;
}
.g0r02 form{
  height: fit-content;
}

.g0r03{
  grid-area: g0r03;
  border: 0.5px solid white;
}
.g0r04{
  grid-area: g0r04;
}

.box{
  border: 0.1px solid gray;
}
#tablegenerator{
  border: 0.1px solid white;
}

#tooltipmessage{
  display: flex;
  justify-content: center;
}

/* CSS3 Template version 1.3 - 20171128 +++++++++++++++++++++++++++++++++++++ */
/*  Developer: Michael James Turiano Albatana                                 */
/*  Email: mjtalbatana@gmail.com                                              */
/*  Github: https://github.com/mjtalbatana                                    */
/*  LinkedIn: https://www.linkedin.com/in/mjtalbatana                         */
/* END OF CSS FILE ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */