.color01{
    background: linear-gradient(90deg, red 20%, green 20%, green 80%, blue 80%);
    display: block;
    /* float: left; */
    
}
.color02{
    background:linear-gradient(red 40%, green 40%, green 160%, blue 160%);
    display: block;
    /* float: left; */
}
.color03{
    background:repeating-linear-gradient(90deg, red, green, green , blue 2px);
    display: block;
}
