.wrapper{
	width: 700px;
	margin: 0 auto;
	background-color: #f2f2f2;
	color: #404040;

}

header{
	background-color: #09c;
	height: 70px;
	color: white;
	text-align: center; 
	line-height: 70px;
	font-size: 10px;
}

footer{
	background-color: #a6a6a6; 
	height: 70px;
	color: #ffffff;
	line-height: 70px;
	text-align: center;
}

body{
	padding: 0;
	margin: 0;
	font-family: "Roboto", Arial, sans-serif;
}

.dashboard-thumbnail{
	display: inline-block;
	width: 40%;
	height: 100px;
	text-align: center;
}

.dashboard-circles{
	text-align: center;
	height: 70px;
	width: 70px;
	background-color: green;
	border-radius: 50%;
	text-shadow: center;
	line-height: 70px;
	color: #fff;
	float: left;
	margin-right: 10px;
}

#postCircle{
	background-color: #4CAF50;
	margin-left: 60px;
}

#imageCircle{
	background-color: #09c;
	margin-left: 60px;
}

#postTitle{
	width: 100%;
	padding: 10px;
	border-radius: 3px;
	box-sizing: border-box;
	margin-bottom: 10px;

}

#postContent{
	width: 100%;
	height: 100px;
	padding: 10px;
	border-radius: 3px;
	margin-bottom: 10px;
	box-sizing: border-box;

}

.btn{
	border: none;
	padding: 15px 30px;
	font-size: 14px;
	border-radius: 5px;
	color: #fff;
}

.btn-blue{
	background-color: #09c;
}

.btn-green{
	background-color: #4CAF50;
}

#btnBrowse{
	margin-right: 5px;
}

#btnPublish,
#btnUpload,
#btnBrowse{
	float: right;
}

.hide-overflow{
	overflow: hidden;

}

main{
	padding: 10px;
}

.img-set{
	height: 70px;
	width: 100px;
	background-color: white;
	padding: 5px;
	border-radius: 3px;
	margin: 0 5px;
}

.inline-blocked{
	display: inline-block;

}

.dashboard-text{
	margin: 0;
	font-size: 20px;
	width: 100%;
	
}

a {
	color: white;
}