@keyframes animation1 {
  from {background-color: red;}
  to {background-color: yellow;}
}
@keyframes animation2 {
  from {background-color: orange;}
  to {background-color: yellow;}
}
@keyframes animation3 {
  from {background-color: green;}
  to {background-color: yellow;}
}

.box1{
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: animation1;
  animation-duration: 2s;
}
.box2{
  width: 100px;
  height: 100px;
  background-color: orange;
  animation-name: animation2;
  animation-duration: 2s;
}
.box3{
  width: 100px;
  height: 100px;
  background-color: green;
  animation-name: animation3;
  animation-duration: 2s;
}

body{
  counter-reset: counterA;
}
div::before{
  counter-increment: counterA;
  content: "counter" counter(counterA) ": ";
}