*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* prevents overflow of horizontal scrollbar */
}

/* body{

} */

h2{
    font-size: 1.5em;
}

.container{
    background-color: #eaedf0;
}

.page{
    width: 900px;
    margin: 0 auto;
    /* border: 1px solid purple; */
    background-color: #eaedf0;
}

.menu{
    height: 100px;
    background-color: #b2d6ff;
    
}

.sidebar{
    height: 600px;
    width: 100px;
    background-color: #f09a9d;
    float: left;

    
}

.content{
    height: 600px;
    width: 650px;
    font-size: 12px;
    background-color: #f5cf8e;
    float: left;
    padding: 20px;
    
}

.footer{
    clear: both;
    /* height: 200px; */
    background-color: #d6e9fe;
    border: 1px solid purple;
    /* will remove floating side-effects */
}


ul{
    list-style: none;
}


/* best practice to clear floats */

.clear:after{
    content: ""; /* empty string or invisible element */
    clear: both;
    display: block;
}

.column{
    height: 160px;
    width: 31%;
    background-color: #b2d6ff;
    float: left;
    margin:  20px 1.16%;
    font-size: 12px;
    position: relative;
}

.avatar{
    width: 60px;
    height: 60px;
    background-color: #d6e9fe;
    border-radius: 50%; 
    margin: 15px;
    float: left;
    
}

.username{
    margin-top: 10px;
}

.comment{
    margin-left: 90px;
    text-align: justify;
}

.article-img{
    width: 300px;
    height: 300px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

/* multiline ellipsis*/
.block-with-text{
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 3.6em;
    text-align: justify;
    margin-right: -1em;
    padding-right: 30px;
}

.block-with-text:before{
    content: "...";
    position: absolute;
    right: 17px;
    bottom: 0;
}

.block-with-text:after{
    content: "";
    position: absolute;
    right: 17px;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}

.readmore{
    position: absolute;
    right: 18px;
    bottom: 16px;
}

.avatar > img{
    border: 1px solid gold;
    width: 70px;
    height: 70px;
    border-radius: 50%;

}