@keyframes stanzaanimatecolor{
  30%{
    background: red;
    color: gray;
  }
  70%{
    background: green;
    color: darkgray;
  }
  100%{
    color: black;
  }
}

@keyframes stanzaanimateentry{
  20%{}
  40%{}
  60%{}
  80%{}
  100%{}
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body{
  width: 100%;
  height: 100vh;
  background: gray;
  margin: 0 auto;
  main{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    .container{
      width: 100%;
      margin: 0 auto;
      color: white;
      .stanza{
        display: flex;
        margin: 5px;
        padding: 0 5px;
        flex-flow: column nowrap;
        align-items: center;
        // animation: stanzaanimatecolor 5s linear 0s infinite normal;
        .lineA{
          display: inline-block;
          padding: 5px;
          width: 100%;
          font-weight: bold;
          background: gold;
          animation: stanzaanimateentry 2s linear 0s 1 normal ;
        }
        .lineB{
          display: inline-block;
          padding: 5px;
          width: 100%;
          background: goldenrod;
          animation: stanzaanimateentry 2s linear 0s 1 normal ;
        }
      }
    }
  }
}
