body{
  width: 70%;
  background: black;
  margin: 0 auto;
  .container{
    width: 70%;
    margin: 0 auto;
    color: white;
    .stanza{
      display: flex;
      background: gray;
      margin: 5px 0;
      flex-flow: column nowrap;
      align-items: center;
    }
  }
}