body {
	background-color: #808080;
	background-image: url("../img/mgsvtpp.jpg");
	background-size: cover;
	background-attachment: fixed;
	color: 	#C0C0C0;
	font-family: 'Dosis', sans-serif;
}

p {
	font-family: 'Slabo 27px', serif;
	color: white;
}	

h1 {
	font-size: 50px;
	color: darkorange;
	text-transform: lowercase;
}


h2 {
	color: gold;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#photo {
	height: 150px;
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	border-color: gold;
	margin-top: 10px;
	margin-left: 10px;

}

.about{
	width: 100%;
	font-size: 20px;
	line-height: 30px;

}


.about2{
	color: gray;
	width: 100%;
	font-size: 20px;
	line-height: 30px;

}
.about3{
	color: darkgray;
	width: 100%;
	font-size: 20px;
	line-height: 30px;

}

.container{
	width: 500px;
	margin: 0 auto;
	text-align: center;

}