/* UNIVERSAL DEBUG ------------------ */
/* This portion is used for experimental purposes and this portion must be empty when deployed */ /*
*{

}
*/

/* FONT-FACE */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Zilla Slab Highlight';
  font-style: normal;
  font-weight: 700;
  src: local('Zilla Slab Highlight Bold'), local('ZillaSlabHighlight-Bold'), url(https://fonts.gstatic.com/s/zillaslabhighlight/v3/4GC1z5cbR6tbZfervoVHHGiOYC683oHv9smPBVAVffg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* UNIVERSAL DEFAULTS */
/* the purpose of separating universal selector is to make a distinction to CSS rules that is permanently applied */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* color: white; */
  font-family: Helvetica, sans-serif;
  /* border: 0.1px solid white; */
}
ul{
  list-style: none;
}

a{
  color: #ff4d00;
}
/* CONTAINERS */
/* these contains rules related to dimensions & positioning only
    note that elements must have Layer class designation and must be explicitly defined in HTML
    L1 for layer-1, L2 for layer-2, L3 elements can be selected using ":last-child" selector */
/* LAYER-1 > MAJOR CONTAINERS (metric properties) */
  /* these containers are direct parents of minor containers
      should not contain inline elements used as text-holder as much as possible
      these elements must have additional class assign
      MAJOR CONTAINERS MUST BE BLOCK-TYPE */

body{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  width: 100%;
  height: 100%;
  padding: 0;
  border-width: 0;
  margin: 0;
}
.nav,
.main,
.footer{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;

  flex: 0 1 auto;
  align-self: auto;

  width: 100%;
  margin: 5px 0;
}

/* LAYER-2 > MINOR CONTAINERS (metric properties) */
  /* these can contain elements for the purpose of containing END-containers,
      each container must be attached according to their parent containers
      it is possible to contain another create branched containers for layer-3 containers
      rules can contain Dimensions & Positioning only */

.nav-main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;

  flex: 0 1 auto;
  align-self: auto;

  width: 100%;
  height: 480px;
  padding: 50px;
}

.main-banner,
.main-about,
.main-services,
.main-projects,
.main-gallery{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  flex: 0 1 auto;
  align-self: auto;

  width: 100%;
  height: auto;
  margin: 10px 0;
}

.main-banner{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  width: 100%;
  height: 200px;
}

.main-about,
.main-projects,
.main-services,
.main-gallery{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  flex: 0 1 auto;
  align-self: center;

  width: 100%;
  height: auto;
  padding: 10px;
}

.footer-contact{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  flex: 0 1 auto;
  align-self: center;
  width: 100%;
  height: auto;
}

/* LAYER-3 > EDGE-elements (ANY rules except color) */
  /* literally, the end-containers, in which the element is at the end of the family branch (at the edge)
      usually it contains elements holding data or information to be displayed and rendered for viewers
      any rules can be applied on these containers, also items must be constructed according to the flow of HTML
      since L3 elements are the farthest elements, they could be selected uniquely without a class-name
      class-naming is only applied when necessary, specially for div elements with special purpose other
      than containing child elements*/

/* nav */
.nav li{
  margin-bottom: 3px;
  text-align: center;
  line-height: 40px;
  padding: 0 20px;
}
.nav img{
  width: 100px;
}

.footer img{
  width: 50px;
  height: 50px;
}

.services-column img,
.gallery-column img{
  display: block;
  margin: 10px auto;
  width: 240px;
  border: 1px solid red;
}

small{
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.separator {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 2em;
  display: block;
  background: linear-gradient(to right, #3d1200, #752300 29%, #a33100 30%, #d13f00 59%, #ff4d00 60%);
}

/* COLOR & BACK-IMAGE & TEXT PROPERTIES */
  /* To make coloring less hassle, determine the elements with same color values,
      assign those elements to a particular color-group,
      must be coded from parent to the child elements/containers */
body{
  background: hsl(0, 0%, 0%);
}
.body{
  background: hsl(0, 1%, 10%);
}
main{
  background: hsla(0, 1%, 0%, 1.0);
}
.main-about,
.main-services,
.main-projects,
.main-gallery {
  background: linear-gradient(to bottom, #121212 30%, #1f1f1f 60%)
}

.main-banner{
  border: 5px solid #ff4d00;
}
.main-banner h1,
.main-banner p{
  color: #ff4d00;
}
h1{
  font-family: "Zilla Slab Highlight";
  color: #ff4d00;
  text-transform: uppercase;
}

h2,
h3,
h4,
footer {
  font-family: "Zilla Slab Highlight";
  color: #ff4d00;
  text-transform: uppercase;
  margin: 10px;
  text-align: center;
}

.services-column,
.gallery-column{
  border: 1px solid #ff4d00;
  padding: 10px;
}



.footer {
  background-color: #752300;
  padding: 10px;
}


.nav li{
  list-style: none;
  background: linear-gradient(to top, #1f0900, #3d1200);
  background-color: #752300;
}



/* RWD FUNCTION ---------------------------------- */
/* MOBILE DEVICES +++++++++++++++++++++ */
@media only screen and (max-width: 400px){

}


/* TABLET DEVICES  ++++++++++++++++++++++ */
@media only screen and (min-width: 401px){
  body{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;

    width: 100%;
    height: 100%;
    padding: 0 20px;
    border-width: 0;
    margin: 0 auto;
  }

  .nav{
    align-self: baseline;

    max-width: 30%;

  }


  .services-content{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;

    margin: 20px;
  }

  .services-column{
    display: block;
    padding: 10px;

  }

  .services-column img{
    float: left;
    width: 120px;
  }
  .footer{
    order: 0;
    flex: 0 1 auto;
    align-self: flex-end;

  }

  .main-services img {
    max-width: 240px;
    margin: 10px;
  }
  .main-gallery{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;

    width: 100%;
    padding: 10px;
  }
  .gallery-group{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;

    width: 100%;
  }
  .gallery-column{
    width: 50%;
    padding: 10px;


  }
  .gallery-column img{
    max-width: 200px;
    height: auto;
  }
}



/* DESKTOP DEVICES ++++++++++++++++++++++ */
@media only screen and (min-width: 961px){

  .services-content,
  .gallery-group{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
  }

}


/* HOVER-effects */
.footer-icons a:hover{
  filter:
  saturate(80%)
  contrast(50%);

}



/* CSS3 Template version 1.1 - 20171125 +++++++++++++++++++++++++++++++++++++ */
/*  Developer: Michael James Turiano Albatana                                 */
/*  Email: mjtalbatana@gmail.com                                              */
/*  Github: https://github.com/mjtalbatana                                    */
/*  LinkedIn: https://www.linkedin.com/in/mjtalbatana                         */
/* END OF CSS FILE ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */