/* UNIVERSAL DEBUG ------------------ */


/* This portion is used for experimental purposes and this portion must be empty when deployed */

*{
	/* border: 0.25px solid white; */
}


/* FONT-FACE */


/* UNIVERSAL DEFAULTS */
li{
	list-style: none;
}


/* the purpose of separating universal selector is to make a distinction to CSS rules that is permanently applied */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* GRIDS ----------------------------------------- */


/* TEMPLATE-GRIDS */

.grid-page-leftframe {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 12;
  background: linear-gradient(to top, hsla(0, 1%, 47%, 0.5) 0%,
                                      hsla(0, 1%, 37%, 0.5) 80%,
                                      hsla(0, 0%, 0%, 0.7) 80%,
                                      hsla(0, 0%, 0%, 0.7) 85%,
                                      hsla(0, 1%, 37%, 0.5) 85%,
                                      hsla(0, 1%, 27%, 0.5) 95%,
                                      hsla(0, 0%, 0%, 0.7) 95%,
                                      hsla(0, 0%, 0%, 0.7) 97%,
                                      hsla(0, 1%, 27%, 0.5) 97%,
                                      hsla(0, 0%, 0%, 0.7) 100%);
	z-index: 2;
}

.grid-page-bottomframe {
	grid-column-start: 2;
	grid-column-end: 12;
	grid-row-start: 11;
  grid-row-end: 12;
  background: linear-gradient(to right, hsla(0, 1%, 47%, 0.5) 0%,
                                        hsla(0, 1%, 37%, 0.5) 80%,
                                        hsla(0, 0%, 0%, 0.5) 80%,
                                        hsla(0, 0%, 0%, 0.5) 85%,
                                        hsla(0, 1%, 37%, 0.5) 85%,
                                        hsla(0, 1%, 27%, 0.5) 95%,
                                        hsla(0, 0%, 0%, 0.5) 95%,
                                        hsla(0, 0%, 0%, 0.5) 97%,
                                        hsla(0, 1%, 27%, 0.5) 97%,
                                        hsla(0, 0%, 0%, 0.5) 100%);  
	z-index: 2;
}

.grid-page-logo{
	grid-column-start: 12;
	grid-column-end: 13;
	grid-row-start: 12;
	grid-row-end: 13;
	display: flex;
  flex-flow: column-reverse nowrap;
  justify-items: center;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	z-index: 4;
}

.grid-page-logo>img {
	width: 25px;
  height: 25px;
	margin-bottom: 15px;
}

.grid-page-back {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 11;
	grid-row-end: 12;
	font-size: 0.5em;
	background-image: url('../assets/741.gif');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 150px auto;
	margin-left: 5px;
	opacity: 0.7;
	z-index: 4;

}

.grid-bottom {
	grid-column-start: 1;
	grid-column-end: 13;
	grid-row-start: 12;
	grid-row-end: 13;
	text-align: center;
	z-index: 4;
}

.grid-bottom>small {
	color: gray;
	font-size: 0.7em;
}


/* END OF TEMPLATE-GRID ---------------------------------------------- */


/* CONTACT page -------------------------------------------- */

.G1-contact {
	/* min-height: 568px; */
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-rows: 5px 25px 50px 5px 1fr 1fr 1fr 1fr 5px 5px 5px 25px;
	grid-template-columns: 25px 5px 5px 5px 1fr 1fr 1fr 1fr 1fr 25px 12.5px 50px;
}

.grid-iframe {
	grid-column-start: 4;
	grid-column-end: 12;
	grid-row-start: 5;
	grid-row-end: 8;
	overflow: hidden;
}

iframe {
	width: 100%;
	height: 100%;
	display: flex;
}

.grid-message {
	grid-column-start: 5;
	grid-column-end: 11;
	grid-row-start: 8;
	grid-row-end: 9;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.grid-icon-dev {
	grid-column-start: 12;
	grid-column-end: 13;
	grid-row-start: 6;
	grid-row-end: 9;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	justify-items: center;
	align-items: center;
	align-content: center;
	text-align: center;
	z-index: 6;
	position: relative;
}

.grid-message>p {
	display: block;
	font-size: 0.9em;
	text-align: left;
}

.grid-icon-dev img {
	width: 30px;
	margin: 5px;
}
.tool-tip:hover .tool-tip-text,
.tool-tip:active .tool-tip-text{
	display: inline-block;
	/* opacity: 0.5; */
	visibility: visible;
}

.tool-tip-text{
	visibility: hidden;
	color: darkgray;
	background: black;
	position: absolute;
	right: 0;
	transform: translate(-50px, -35px);
	height: auto;
	line-height: auto;
	width: fit-content;
	border: 0;
	padding: 5px;
}

.grid-icon-dev > p{
	display: flex;
}



/* END of CONTACT page --------------------------------------- */


/* GEARS page ------------------------------------------------ */

.G1-gears {
	/* min-height: 568px; */
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-rows: 5px 25px 0.25fr 5px 2.5fr 1fr 0.5fr 0.75fr 5px 5px 5px 25px;
	grid-template-columns: 25px 5px 5px 5px 1fr 1fr 1fr 1fr 1fr 25px 12.5px 50px;
}
.grid-gear-content{
  grid-column-start: 5;
  grid-column-end: 12;
  grid-row-start: 3;
  grid-row-end: 8;
  display: grid;
  grid-template-rows: 0.25fr 5px 2.5fr 1fr 0.5fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 25px 12.5px;
}
.grid-gear-content-h2{
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
}
.grid-gear-content-img{
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 4;
}
.grid-gear-content-img-A,
.grid-gear-content-img-B,
.grid-gear-content-img-C,
.grid-gear-content-img-D{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.grid-gear-content-text{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}
.grid-gear-content-review{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
}
.grid-gear-content-specs{
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 6;
}


.grid-gear-photothumb{
  grid-column-start: 5;
  grid-column-end: 12;
  grid-row-start: 8;
  grid-row-end: 9;
  display: flex;
  width: 100%;
  height: 100%;
}

.photothumb01,
.photothumb02,
.photothumb03,
.photothumb04{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}


/* END of GEARS page ----------------------------------------- */

/* home page +++++++++++++++++++++++++++++++++++++++++++++++++ */
.G1-home{
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-rows: 1.5fr 1.5fr 1.5fr 0.25fr 1fr 1fr 1fr 1fr 0.25fr 1.5fr 1.5fr 1.5fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.G1-home div{
}

.home-top-mosaic{
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 4;
}
.home-mid-borderA{
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 4;
  grid-row-end: 5;
}
.home-mid-photo{
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 5;
  grid-row-end: 9;
}
.home-mid-borderB{
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 9;
  grid-row-end: 10;
}
.home-bot-mosaic{
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 10;
  grid-row-end: 13;
}

.home-top-mosaic-r01a{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.home-top-mosaic-r01b{
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
}
.home-top-mosaic-r01c{
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
}



.home-top-mosaic-r02a{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.home-top-mosaic-r02b{
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}
.home-top-mosaic-r02c{
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 3;
}
.home-top-mosaic-r02d{
  grid-column-start: 11;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 3;
}

.home-top-mosaic-r03a{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}
.home-top-mosaic-r03b{
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 4;
}
.home-top-mosaic-r03c{
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: 4;
}

.home-bot-mosaic-r01a{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 10;
  grid-row-end: 11;
}
.home-bot-mosaic-r01b{
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 10;
  grid-row-end: 11;
}
.home-bot-mosaic-r01c{
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 10;
  grid-row-end: 11;
}

.home-bot-mosaic-r02a{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 11;
  grid-row-end: 12;
}
.home-bot-mosaic-r02b{
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 11;
  grid-row-end: 12;
}
.home-bot-mosaic-r02c{
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 11;
  grid-row-end: 12;
}
.home-bot-mosaic-r02d{
  grid-column-start: 11;
  grid-column-end: 13;
  grid-row-start: 11;
  grid-row-end: 12;
}

.home-bot-mosaic-r03a{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 12;
  grid-row-end: 13;
}
.home-bot-mosaic-r03b{
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 12;
  grid-row-end: 13;
}
.home-bot-mosaic-r03c{
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 12;
  grid-row-end: 13;
}

/* END of home page +++++++++++++++++++++++++++++++++++++++++++++++++ */

/* EXTRA page +++++++++++++++++++++++++++++++++++++++++++++++++ */
.G1-extra{
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-rows: 5px 25px 50px 5px 1fr 1fr 1fr 1fr 5px 5px 5px 25px;
	grid-template-columns: 25px 5px 5px 5px 1fr 1fr 1fr 1fr 1fr 25px 12.5px 50px;
}
.grid-extra-header{
  grid-column-start: 5;
  grid-column-end: 12;
  grid-row-start: 3;
  grid-row-end: 4;
}
.grid-extra-easteregg{
  grid-column-start: 5;
  grid-column-end: 12;
  grid-row-start: 5;
  grid-row-end: 9;
}
.grid-extra-header > h1{
  font-size: 1.5em;
}
.grid-extra-easteregg > p{
  font-size: 0.8em;
}
/* END of EXTRA page +++++++++++++++++++++++++++++++++++++++++++++++++ */

/* MAIN page +++++++++++++++++++++++++++++++ */
.G1-main {
	/* min-height: 568px; */
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-rows: 5px 25px 50px 5px 2fr 1fr 1.5fr 1fr 2fr 2fr 5px 25px;
	grid-template-columns: 25px 5px 5px 5px 0.5fr 1fr 1fr 1fr 1fr 0.25fr 12.5px 50px;
}
.grid-main-top-photo{
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
	grid-row-end: 7;
}
.grid-main-mid-banner{
  grid-column-start: 6;
  grid-column-end: 10;
  grid-row-start: 6;
  grid-row-end: 9;
  z-index: 5;
}
.grid-main-bot-photo-01{
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 8;
  grid-row-end: 10;
}
.grid-main-bot-photo-02{
  grid-column-start: 8;
  grid-column-end: 13;
  grid-row-start: 8;
  grid-row-end: 10;
}
.grid-main-bot-photo-03{
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 10;
  grid-row-end: 13;
}
.grid-main-bot-photo-04{
  grid-column-start: 8;
  grid-column-end: 13;
  grid-row-start: 10;
  grid-row-end: 13;
}

.grid-main-mid-banner{
  background: hsla(0, 1%, 0%, 0.8);
}
.grid-main-mid-banner > blockquote{
  display: flex;
  flex-flow: column nowrap;
  justify-items: center;
	justify-content: center;
	align-items: center;
	align-content: space-around;
  margin-bottom: 0;
  height: 100%;
}


	
/* END of MAIN-page +++++++++++++++++++++++++++++++++++++++++++++++++++++ */


/* CONTAINERS */


/* these contains rules related to dimensions & positioning only
	note that elements must have Layer class designation and must be explicitly defined in HTML
	L1 for layer-1, L2 for layer-2, L3 elements can be selected using ":last-child" selector */


/* LAYER-1 > MAJOR CONTAINERS (metric properties) */


/* these containers are direct parents of minor containers
	  should not contain inline elements used as text-holder as much as possible
	  these elements must have additional class assign
	  MAJOR CONTAINERS MUST BE BLOCK-TYPE */

body {
	width: 100%;
	height: auto;
	padding: 0;
	border-width: 0;
	margin: 0 auto;
	background: black;
}


/* LAYER-2 > MINOR CONTAINERS (metric properties) */


/* these can contain elements for the purpose of containing END-containers,
	  each container must be attached according to their parent containers
	  it is possible to contain another create branched containers for layer-3 containers
	  rules can contain Dimensions & Positioning only */


/* LAYER-3 > EDGE-elements (ANY rules except color) */
/* literally, the end-containers, in which the element is at the end of the family branch (at the edge)
	  usually it contains elements holding data or information to be displayed and rendered for viewers
	  any rules can be applied on these containers, also items must be constructed according to the flow of HTML
	  since L3 elements are the farthest elements, they could be selected uniquely without a class-name
	  class-naming is only applied when necessary, specially for div elements with special purpose other
	  than containing child elements*/

.carousel,
.carousel-inner,
.item,
.item div{
  height: 100%;
  width: 100%;
}

.item div{
  background-size: cover;
  background-position: center;
}


/* TEXT formatting */
/* MAIN.html */
.grid-main-mid-banner h1{
	font-size: 1.5em;
	margin-top: 0;
}
.grid-main-mid-banner p{
  font-size: 0.5em;
}

/* GEARS thumbnail effecs*/
.photothumb{
	display: none;
}
.photothumb:target{
	display: grid;
}



/* IMAGE sources of all webpages +++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.main-carousel-bot-photo-01a{
  background-image: url("../img/_lowres-img/water/lowres_converted_DSC01422.JPG");
}
.main-carousel-bot-photo-01b{
	background-image: url("../img/_lowres-img/water/lowres_2017.09.09-11_DSC03440.JPG");
}
.main-carousel-bot-photo-01c{
	background-image: url("../img/_lowres-img/water/lowres_2017.09.09-11_DSC03440.JPG");
}
.main-carousel-bot-photo-02a{
  background-image: url("../img/_lowres-img/building/lowres_DSC03868.JPG");
}
.main-carousel-bot-photo-02b{
	background-image: url("../img/_lowres-img/building/lowres_DSC03880.JPG");
}
.main-carousel-bot-photo-02c{
	background-image: url("../img/_lowres-img/building/lowres_converted_converted_DSC04236.JPG");
}
.main-carousel-bot-photo-03a{
  background-image: url("../img/_lowres-img/patterns/lowres_converted_converted_DSC00954.JPG");
}
.main-carousel-bot-photo-03b{
	background-image: url("../img/_lowres-img/patterns/lowres_converted_DSC01232.JPG");
}
.main-carousel-bot-photo-03c{
	background-image: url("../img/_lowres-img/patterns/lowres_converted_DSC01230.JPG");
}
.main-carousel-bot-photo-04a{
  background-image: url("../img/_lowres-img/roadways/lowres_DSC08581.JPG");
}
.main-carousel-bot-photo-04b{
	background-image: url("../img/_lowres-img/roadways/lowres_converted_DSC01225.JPG");
}
.main-carousel-bot-photo-04c{
	background-image: url("../img/_lowres-img/roadways/lowres_converted_converted_DSC01083.JPG");
}

.main-carousel-top-photoa{
	background-image: url("../img/Sony_A77_+_Zeiss_85.jpg");
}
.main-carousel-top-photob{
	background-image: url("../img/1313612363000_IMG_216801.jpg");
}
.main-carousel-top-photoc{
	background-image: url("../img/1313612437000_817859.jpg");
}
.main-carousel-top-photod{
	background-image: url("../img/highres-sonyalphaa77shots_1327670866.jpg");
}
.main-carousel-top-photoe{
	background-image: url("../img/SLT-A77_zm.jpg");
}
.home-carousel-mid-photoa{
  background-image: url('../img/night/DSC01074_v1.jpg');
}
.home-carousel-mid-photob{
  background-image: url('../img/night/DSC01082_v1.jpg');
}
.home-carousel-mid-photoc{
  background-image: url('../img/night/DSC01112_v1.jpg');
}
.home-carousel-mid-photod{
  background-image: url('../img/night/DSC06525_converted.jpg');
}

.grid-gear-content-img-A,
.photothumb01{
  background-image: url('../img/_gears/specs1.jpg');
}
.grid-gear-content-img-B,
.photothumb02{
  background-image: url('../img/_gears/imageedit_4_3624554526.jpg');
}
.grid-gear-content-img-C,
.photothumb03{
  background-image: url('../img/_gears/55_1.jpg');
}
.grid-gear-content-img-D,
.photothumb04{
  background-image: url('../img/_gears/sony_hvl-f58am_front_450.jpg');
}
/* COLOR & BACK-IMAGE & TEXT PROPERTIES*/


/* To make coloring less hassle, determine the elements with same color values,
assign those elements to a particular color-group,
must be coded from parent to the child elements/containers */


/* RWD FUNCTION ---------------------------------- */


/* MOBILE DEVICES +++++++++++++++++++++ */

@media only screen and (max-width: 450px) {}


/* Tablet, netbook, compact notebooks/ultrabooks 9in-13.3in)  ++++++++++++++++++++++ */

@media only screen and (min-width: 451px) and (max-width: 1024px) {
  .G1-extra,
  .G1-contact,
  .G1-galleryA,
  .G1-galleryB,
  .G1-gears,
  .G1-home,
  .G1-main,
  .G1-photo{
		width: 70%;
		margin: 0 auto;
	}
}

/* Standard Notebooks/Ultrabook, desktops, monitors @ > 14in DEVICES ++++++++++++++++++++++ */

@media only screen and (min-width: 1025px) {
  .G1-extra,
  .G1-contact,
  .G1-galleryA,
  .G1-galleryB,
  .G1-gears,
  .G1-home,
  .G1-main,
  .G1-photo{
    width: 40%;
    margin: 0 auto;
  }
}


/* HOVER-effects */

/* MAIN-page */
.item:hover,
.item:active{
  z-index: 10;
  opacity: 0.5;
}


/* CSS3 Template version 1.3 - 20171128 +++++++++++++++++++++++++++++++++++++ */
/*  Developer: Michael James Turiano Albatana                                 */
/*  Email: mjtalbatana@gmail.com                                              */
/*  Github: https://github.com/mjtalbatana                                    */
/*  LinkedIn: https://www.linkedin.com/in/mjtalbatana                         */
/* END OF CSS FILE ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ *