/* UNIVERSAL DEBUG ------------------ */


/* This portion is used for experimental purposes and this portion must be empty when deployed */

*{
  /* border: 0.25px solid white; */
  overflow: hidden;
}


/* FONT-FACE */


/* UNIVERSAL DEFAULTS */
li{
	list-style: none;
}
a{
  text-decoration: none;
}
a:hover,
a:active{
  color: blue;
}

/* the purpose of separating universal selector is to make a distinction to CSS rules that is permanently applied */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* TEMPLATE-GRIDS ++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.grid-page-leftframe {
  grid-area: 1 / 2 / 12 / 3;
  background: linear-gradient(to top, hsla(0, 1%, 47%, 0.5) 0%,
                                      hsla(0, 1%, 37%, 0.5) 80%,
                                      hsla(0, 0%, 0%, 0.7) 80%,
                                      hsla(0, 0%, 0%, 0.7) 85%,
                                      hsla(0, 1%, 37%, 0.5) 85%,
                                      hsla(0, 1%, 27%, 0.5) 95%,
                                      hsla(0, 0%, 0%, 0.7) 95%,
                                      hsla(0, 0%, 0%, 0.7) 97%,
                                      hsla(0, 1%, 27%, 0.5) 97%,
                                      hsla(0, 0%, 0%, 0.7) 100%);
	z-index: 2;
}

.grid-page-bottomframe {
  grid-area: 11 / 2 / 12 / 12;
  background: linear-gradient(to right, hsla(0, 1%, 47%, 0.5) 0%,
                                        hsla(0, 1%, 37%, 0.5) 80%,
                                        hsla(0, 0%, 0%, 0.5) 80%,
                                        hsla(0, 0%, 0%, 0.5) 85%,
                                        hsla(0, 1%, 37%, 0.5) 85%,
                                        hsla(0, 1%, 27%, 0.5) 95%,
                                        hsla(0, 0%, 0%, 0.5) 95%,
                                        hsla(0, 0%, 0%, 0.5) 97%,
                                        hsla(0, 1%, 27%, 0.5) 97%,
                                        hsla(0, 0%, 0%, 0.5) 100%);
	z-index: 2;
}

.grid-page-logo{
  grid-area: 1 / 12 / 13 / 13;
  display: flex;
  flex-flow: column nowrap;
  /* justify-items: center; */
	justify-content: flex-end;
	align-items: center;
  z-index: 6;
  /* margin-bottom: 5px; */
  padding-bottom: 15px;
}

.grid-page-logo>img {
	width: 25px;
  height: 25px;
}

.grid-page-back {
  grid-area: 11 / 1 / 12 / 2;
	background-image: url('../assets/741.gif');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 150px auto;
	margin-left: 5px;
	opacity: 0.7;
	z-index: 6;

}

.grid-bottom {
  position: relative;
  grid-area: 12 / 1 / 13 / 13;
	text-align: center;
	z-index: 4;
}

.grid-bottom > small{
  position: absolute;
  bottom: 0;
  right: 0;
  color: gray;
  font-size: 0.6em;
  margin: 0 5px 1px 0;
}

/* TOOLTIPS --------------------------------------- */

.tool-tip{
  position: relative;
}

.tool-tip:hover .tool-tip-text,
.tool-tip:active .tool-tip-text{
	display: block;
  visibility: visible;
  color: white;
  background: black;
}

.tool-tip-text-logo,
.tool-tip-text-back,
.tool-tip-text-next,
.tool-tip-text-devicon{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  text-align: center;
  display: none;
  height: auto;
  border: 0;
  padding: 5px;
  z-index: 8;
}

.tool-tip-text-devicon,
.tool-tip-text-logo,
.tool-tip-text-back{
  font-size: 12px;
}


/* CONTACT page -------------------------------------------- */

.G1-contact {
	/* min-height: 568px; */
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-rows: 5px 25px 50px 5px 1fr 1fr 1fr 0.4fr 5px 5px 5px 25px;
	grid-template-columns: 25px 5px 5px 5px 1fr 1fr 1fr 1fr 1fr 25px 12.5px 50px;
}

.grid-iframe {
  grid-area: 2 / 4 / 8 / 12;
	overflow: hidden;
}

iframe {
	width: 100%;
	height: 100%;
	display: flex;
}

.grid-message {
  grid-area: 8 / 5 / 9 / 12;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.grid-icon-dev {
  grid-area: 6 / 12 / 9 / 13;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	justify-items: center;
	align-items: center;
	align-content: center;
	text-align: center;
	z-index: 6;
	position: relative;
}


.grid-icon-dev img{
	width: 30px;
	margin: 5px;
}



.grid-icon-dev > p{
	display: flex;
}







/* gears.html  ------------------------------------------------ */

.G1-gears {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-rows: 5px 25px 0.25fr 5px 2.5fr 1fr 0.5fr 0.4fr 5px 5px 5px 25px;
	grid-template-columns: 25px 5px 5px 5px 1fr 1fr 1fr 1fr 1fr 25px 12.5px 50px;
}
.grid-gear-content{
  grid-area: 3 / 5 / 8 / 13;
  display: grid;
  grid-template-rows: 0.25fr 5px 2.5fr 0.75fr 2fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 25px 12.5px 50px;
}
.grid-gear-content-h2{
  grid-area: 1 / 1 / 2 / 9;
}
.grid-gear-content-img{
  grid-area: 3 / 1 / 4 / 9;
  padding: 5px;
}
.grid-gear-content-img-A,
.grid-gear-content-img-B,
.grid-gear-content-img-C,
.grid-gear-content-img-D{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.grid-gear-content-text{
  grid-area: 4 / 1 / 5 / 9;
}
.grid-gear-content-review{
  grid-area: 5 / 1 / 6 / 4;
}
.grid-gear-content-specs{
  grid-area: 5 / 4 / 6 / 9;
}

.grid-gear-photothumb{
  grid-area: 8 / 5 / 9 / 12;
  display: flex;
  width: 100%;
  height: 100%;
}

.photothumb01,
.photothumb02,
.photothumb03,
.photothumb04{
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}



/* home page +++++++++++++++++++++++++++++++++++++++++++++++++ */
.G1-home{
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-rows: 1.5fr 1.5fr 1.5fr 0.25fr 1fr 1fr 1fr 1fr 0.25fr 1.5fr 1.5fr 1.5fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.home-top-mosaic{
  grid-area: 1 / 1 / 4 / 13;
}
.home-mid-borderA{
  grid-area: 4 / 1 / 5 / 13;
}
.home-mid-photo{
  grid-area: 5 / 1 / 9 / 13;
}
.home-mid-borderB{
  grid-area: 9 / 1 / 10 / 13;
}
.home-bot-mosaic{
  grid-area: 10 / 1 / 13 / 13;
}
.home-top-mosaic-r01a{
  grid-area: 1 / 1 / 2 / 5;
}
.home-top-mosaic-r01b{
  grid-area: 1 / 5 / 2 / 9;
}
.home-top-mosaic-r01c{
  grid-area: 1 / 9 / 2 / 13;
}
.home-top-mosaic-r02a{
  grid-area: 2 / 1 / 3 / 3;
}
.home-top-mosaic-r02b{
  grid-area: 2 / 3 / 3 / 7;
}
.home-top-mosaic-r02c{
  grid-area: 2 / 7 / 3 / 11;
}
.home-top-mosaic-r02d{
  grid-area: 2 / 11 / 3 / 13;
}
.home-top-mosaic-r03a{
  grid-area: 3 / 1 / 4 / 5;
}
.home-top-mosaic-r03b{
  grid-area: 3 / 5 / 4 / 9;
}
.home-top-mosaic-r03c{
  grid-area: 3 / 9 / 4 / 13;
}
.home-bot-mosaic-r01a{
  grid-area: 10 / 1 / 11 / 5;
}
.home-bot-mosaic-r01b{
  grid-area: 10 / 5 / 11 / 9;
}
.home-bot-mosaic-r01c{
  grid-area: 10 / 9 / 11 / 13;
}
.home-bot-mosaic-r02a{
  grid-area: 11 / 1 / 12 / 3;
}
.home-bot-mosaic-r02b{
  grid-area: 11 / 3 / 12 / 7;
}
.home-bot-mosaic-r02c{
  grid-area: 11 / 7 / 12 / 11;
}
.home-bot-mosaic-r02d{
  grid-area: 11 / 11 / 12 / 13;
}
.home-bot-mosaic-r03a{
  grid-area: 12 / 1 / 13 / 5;
}
.home-bot-mosaic-r03b{
  grid-area: 12 / 5 / 13 / 9;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}
.home-bot-mosaic-r03c{
  grid-area: 12 / 9 / 13 / 13;
}

.G1-home .brick{
  border: 0.25px solid hsla(0, 1%, 50%, 0.7);
}

/* END of home page +++++++++++++++++++++++++++++++++++++++++++++++++ */

/* EXTRA page +++++++++++++++++++++++++++++++++++++++++++++++++ */
.G1-extra{
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-rows: 5px 25px 50px 5px 1fr 1fr 1fr 1fr 5px 5px 5px 25px;
	grid-template-columns: 25px 5px 5px 5px 1fr 1fr 1fr 1fr 1fr 25px 12.5px 50px;
}
.grid-extra-header{
  grid-area: 3 / 5 / 4 / 12;
}
.grid-extra-easteregg{
  grid-area: 5 / 5 / 9 / 12;
}

/* END of EXTRA page +++++++++++++++++++++++++++++++++++++++++++++++++ */

/* MAIN page +++++++++++++++++++++++++++++++ */
.G1-main {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-rows: 5px 25px 50px 5px 2fr 1fr 1.5fr 1fr 2fr 2fr 5px 25px;
	grid-template-columns: 25px 5px 5px 5px 0.5fr 1fr 1fr 1fr 1fr 0.25fr 12.5px 50px;
}
.grid-main-top-photo{
  grid-area: 1 / 1 / 7 / 13;
}
.grid-main-mid-banner{
  grid-area: 6 / 6 / 9 / 10;
  z-index: 6;
}
.grid-main-upperclick{
  grid-area: 6 / 6 / 7 / 10;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.grid-main-lowerclick{
  grid-area: 8 / 6 / 9 / 10;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
}
.grid-main-upperclick > p,
.grid-main-lowerclick > p{
  visibility: hidden;
  margin: 0;
  color: gray;
}
.grid-main-upperclick:hover p,
.grid-main-lowerclick:hover p,
.grid-main-upperclick:active p,
.grid-main-lowerclick:active p{
  visibility: visible;
}

.grid-main-bot-photo-01{
  grid-area: 8 / 1 / 10 / 8;
}
.grid-main-bot-photo-02{
  grid-area: 8 / 8 / 10 / 13;
}
.grid-main-bot-photo-03{
  grid-area: 10 / 1 / 13 / 8;
}
.grid-main-bot-photo-04{
  grid-area: 10 / 8 / 13 / 13;
}
.grid-main-bot-onclick:hover .grid-main-bot-photo-01{
  opacity: 0.5;
}

.grid-main-bot-onclick{
  grid-area: 8 / 1 / 11 / 13;
  z-index: 5;
  content: "";
}
.grid-main-mid-banner{
  background: hsla(0, 1%, 0%, 0.8);
  display: flex;

}
.grid-main-mid-banner > blockquote{
  display: flex;
  flex-flow: column nowrap;
  justify-items: center;
	justify-content: center;
	align-items: center;
	align-content: space-around;
  margin-bottom: 0;
  height: 100%;
}




/* GALLERY A & B page +++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.G1-galleryA,
.G1-galleryB{
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-rows: 10px 0.2fr 1fr 0.2fr 1fr 0.2fr 1fr 0.2fr 1fr 20px 5px 25px;
  grid-template-columns: 25px 5px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 50px;
}

.grid-gallerya-row1-h2,
.grid-galleryb-row1-h2{
  grid-area: 2 / 3 / 3 / 13;
}
.grid-gallerya-row1-thumb,
.grid-galleryb-row1-thumb{
  grid-area: 3 / 3 / 4 / 13;
}
.grid-gallerya-row2-h2,
.grid-galleryb-row2-h2{
  grid-area: 4 / 3 / 5 / 13;
}
.grid-gallerya-row2-thumb,
.grid-galleryb-row2-thumb{
  grid-area: 5 / 3 / 6 / 13;
}
.grid-gallerya-row3-h2,
.grid-galleryb-row3-h2{
  grid-area: 6 / 3 / 7 / 13;
}
.grid-gallerya-row3-thumb,
.grid-galleryb-row3-thumb{
  grid-area: 7 / 3 / 8 / 13;
}
.grid-gallerya-row4-h2{
  grid-area: 8 / 3 / 9 / 13;
}
.grid-gallerya-row4-thumb{
  grid-area: 9 / 3 / 10 / 13;
}
.grid-gallerya-next{
  grid-area: 11 / 3 / 12 / 4;
  z-index: 6;
  display: block;
  background-image: url('../assets/741.gif');
  transform: scaleX(-1);
  background-position: center;
}

.gallery-thumb{
  width: 30%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0.5px;
}

.gallery-set{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 5px;
}

.grid-gallerya-row1-h2,
.grid-gallerya-row2-h2,
.grid-gallerya-row3-h2,
.grid-gallerya-row4-h2,
.grid-galleryb-row1-h2,
.grid-galleryb-row2-h2,
.grid-galleryb-row3-h2,
.grid-galleryb-row4-h2{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-content: flex-end;
}



/* CONTAINERS */


/* these contains rules related to dimensions & positioning only
	note that elements must have Layer class designation and must be explicitly defined in HTML
	L1 for layer-1, L2 for layer-2, L3 elements can be selected using ":last-child" selector */


/* LAYER-1 > MAJOR CONTAINERS (metric properties) */


/* these containers are direct parents of minor containers
	  should not contain inline elements used as text-holder as much as possible
	  these elements must have additional class assign
	  MAJOR CONTAINERS MUST BE BLOCK-TYPE */

body {
	width: 100%;
	height: auto;
	padding: 0;
	border-width: 0;
	margin: 0 auto;
	background: black;
}


/* LAYER-2 > MINOR CONTAINERS (metric properties) */


/* these can contain elements for the purpose of containing END-containers,
	  each container must be attached according to their parent containers
	  it is possible to contain another create branched containers for layer-3 containers
	  rules can contain Dimensions & Positioning only */


/* LAYER-3 > EDGE-elements (ANY rules except color) */
/* literally, the end-containers, in which the element is at the end of the family branch (at the edge)
	  usually it contains elements holding data or information to be displayed and rendered for viewers
	  any rules can be applied on these containers, also items must be constructed according to the flow of HTML
	  since L3 elements are the farthest elements, they could be selected uniquely without a class-name
	  class-naming is only applied when necessary, specially for div elements with special purpose other
	  than containing child elements*/

.carousel,
.carousel-inner,
.item,
.item div{
  height: 100%;
  width: 100%;
}

.item div{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}




/* IMAGE sources of all webpages +++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.main-carousel-bot-photo-01a{
  background-image: url("../img/lowres-img/blue_and_birds/lowres_converted_DSC01422.JPG");
}
.main-carousel-bot-photo-01b{
	background-image: url("../img/lowres-img/blue_and_birds/lowres_2017.09.09-11_DSC03440.JPG");
}
.main-carousel-bot-photo-01c{
	background-image: url("../img/lowres-img/blue_and_birds/lowres_2017.09.09-11_DSC03440.JPG");
}
.main-carousel-bot-photo-02a{
  background-image: url("../img/lowres-img/lines_and_perspective/lowres_DSC03868.JPG");
}
.main-carousel-bot-photo-02b{
	background-image: url("../img/lowres-img/lines_and_perspective/lowres_DSC03880.JPG");
}
.main-carousel-bot-photo-02c{
	background-image: url("../img/lowres-img/lines_and_perspective/lowres_converted_converted_DSC04236.JPG");
}
.main-carousel-bot-photo-03a{
  background-image: url("../img/lowres-img/lines_and_perspective/lowres_converted_converted_DSC00954.JPG");
}
.main-carousel-bot-photo-03b{
	background-image: url("../img/lowres-img/lines_and_perspective/lowres_converted_DSC01232.JPG");
}
.main-carousel-bot-photo-03c{
	background-image: url("../img/lowres-img/green/lowres_converted_DSC01230.JPG");
}
.main-carousel-bot-photo-04a{
  background-image: url("../img/lowres-img/roadways/lowres_DSC08581.JPG");
}
.main-carousel-bot-photo-04b{
	background-image: url("../img/lowres-img/roadways/lowres_converted_DSC01225.JPG");
}
.main-carousel-bot-photo-04c{
	background-image: url("../img/lowres-img/roadways/lowres_converted_converted_DSC01083.JPG");
}

.main-carousel-top-photoa{
	background-image: url("../img/Sony_A77_+_Zeiss_85.jpg");
}
.main-carousel-top-photob{
	background-image: url("../img/1313612363000_IMG_216801.jpg");
}
.main-carousel-top-photoc{
	background-image: url("../img/1313612437000_817859.jpg");
}
.main-carousel-top-photod{
	background-image: url("../img/highres-sonyalphaa77shots_1327670866.jpg");
}
.main-carousel-top-photoe{
	background-image: url("../img/SLT-A77_zm.jpg");
}
.home-carousel-mid-photoa{
  background-image: url('../img/lowres-img/black_and_night/lowres_DSC01074_v1.jpg');
}
.home-carousel-mid-photob{
  background-image: url('../img/lowres-img/black_and_night/lowres_DSC01082_v1.jpg');
}
.home-carousel-mid-photoc{
  background-image: url('../img/lowres-img/black_and_night/lowres_DSC01112_v1.jpg');
}
.home-carousel-mid-photod{
  background-image: url('../img/lowres-img/black_and_night/lowres_DSC06525_converted.jpg');
}

.grid-gear-content-img-A,
.photothumb01{
  background-image: url('../img/gears/specs1.jpg');
}
.grid-gear-content-img-B,
.photothumb02{
  background-image: url('../img/gears/imageedit_4_3624554526.jpg');
}
.grid-gear-content-img-C,
.photothumb03{
  background-image: url('../img/gears/55_1.jpg');
}
.grid-gear-content-img-D,
.photothumb04{
  background-image: url('../img/gears/sony_hvl-f58am_front_450.jpg');
}

.gallerya-carousel-row1-seta-photo-1{
  background-image: url('../img/lowres-img/black_and_night/lowres_2017.09.09-11_DSC03377.JPG')
}
.gallerya-carousel-row1-seta-photo-2{
  background-image: url('../img/lowres-img/black_and_night/lowres_converted_converted_DSC04364.JPG')
}
.gallerya-carousel-row1-seta-photo-3{
  background-image: url('../img/lowres-img/black_and_night/lowres_DSC01074_v1.jpg')
}
.gallerya-carousel-row1-setb-photo-1{
  background-image: url('../img/lowres-img/black_and_night/lowres_DSC01082_v1.jpg')
}
.gallerya-carousel-row1-setb-photo-2{
  background-image: url('../img/lowres-img/black_and_night/lowres_DSC01112_v1.jpg')
}
.gallerya-carousel-row1-setb-photo-3{
  background-image: url('../img/lowres-img/black_and_night/lowres_DSC06525_converted.jpg')
}
.gallerya-carousel-row2-seta-photo-1{
  background-image: url('../img/lowres-img/blue_and_birds/lowres_2017.09.09-11_DSC03383.JPG')
}
.gallerya-carousel-row2-seta-photo-2{
  background-image: url('../img/lowres-img/blue_and_birds/lowres_2017.09.09-11_DSC03387.JPG')
}
.gallerya-carousel-row2-seta-photo-3{
  background-image: url('../img/lowres-img/blue_and_birds/lowres_2017.09.09-11_DSC03431.JPG')
}
.gallerya-carousel-row2-setb-photo-1{
  background-image: url('../img/lowres-img/blue_and_birds/lowres_2017.09.09-11_DSC03440.JPG')
}
.gallerya-carousel-row2-setb-photo-2{
  background-image: url('../img/lowres-img/blue_and_birds/lowres_converted_converted_DSC04238.JPG')
}
.gallerya-carousel-row2-setb-photo-3{
  background-image: url('../img/lowres-img/blue_and_birds/lowres_converted_DSC01422.JPG')
}
.gallerya-carousel-row3-seta-photo-1{
  background-image: url('../img/lowres-img/branches/lowres_converted_converted_DSC01048.JPG')
}
.gallerya-carousel-row3-seta-photo-2{
  background-image: url('../img/lowres-img/branches/lowres_converted_converted_DSC04254.JPG')
}
.gallerya-carousel-row3-seta-photo-3{
  background-image: url('../img/lowres-img/branches/lowres_converted_converted_DSC04269.JPG')
}
.gallerya-carousel-row3-setb-photo-1{
  background-image: url('../img/lowres-img/branches/lowres_converted_DSC01250.JPG')
}
.gallerya-carousel-row3-setb-photo-2{
  background-image: url('../img/lowres-img/branches/lowres_converted_DSC01252.JPG')
}
.gallerya-carousel-row3-setb-photo-3{
  background-image: url('../img/lowres-img/branches/lowres_converted_DSC01263.JPG')
}
.gallerya-carousel-row3-setc-photo-1{
  background-image: url('../img/lowres-img/branches/lowres_DSC04492.JPG')
}
.gallerya-carousel-row4-seta-photo-1{
  background-image: url('../img/lowres-img/green/lowres_converted_DSC01214.JPG')
}
.gallerya-carousel-row4-seta-photo-2{
  background-image: url('../img/lowres-img/green/lowres_converted_DSC01217.JPG')
}
.gallerya-carousel-row4-seta-photo-3{
  background-image: url('../img/lowres-img/green/lowres_converted_DSC01220.JPG')
}
.gallerya-carousel-row4-setb-photo-1{
  background-image: url('../img/lowres-img/green/lowres_converted_DSC01230.JPG')
}
.gallerya-carousel-row4-setb-photo-2{
  background-image: url('../img/lowres-img/green/lowres_converted_DSC01318.JPG')
}
.gallerya-carousel-row4-setb-photo-3{
  background-image: url('../img/lowres-img/green/lowres_converted_DSC01379.JPG')
}
.galleryb-carousel-row1-seta-photo-1{
  background-image: url('../img/lowres-img/lines_and_perspective/lowres_converted_converted_DSC00954.JPG')
}
.galleryb-carousel-row1-seta-photo-2{
  background-image: url('../img/lowres-img/lines_and_perspective/lowres_converted_converted_DSC04236.JPG')
}
.galleryb-carousel-row1-seta-photo-3{
  background-image: url('../img/lowres-img/lines_and_perspective/lowres_converted_DSC01232.JPG')
}
.galleryb-carousel-row1-setb-photo-1{
  background-image: url('../img/lowres-img/lines_and_perspective/lowres_DSC03868.JPG')
}
.galleryb-carousel-row1-setb-photo-2{
  background-image: url('../img/lowres-img/lines_and_perspective/lowres_DSC03880.JPG')
}
.galleryb-carousel-row1-setb-photo-3{
  background-image: url('../img/lowres-img/lines_and_perspective/lowres_DSC03889.JPG')
}
.galleryb-carousel-row2-seta-photo-1{
  background-image: url('../img/lowres-img/orange_and_twilight/lowres_2017.09.09-11_DSC03368.JPG')
}
.galleryb-carousel-row2-seta-photo-2{
  background-image: url('../img/lowres-img/orange_and_twilight/lowres_2017.09.09-11_DSC03369.JPG')
}
.galleryb-carousel-row2-setb-photo-1{
  background-image: url('../img/lowres-img/orange_and_twilight/lowres_2017.09.09-11_DSC03539.JPG')
}
.galleryb-carousel-row2-setb-photo-2{
  background-image: url('../img/lowres-img/orange_and_twilight/lowres_2017.09.09-11_DSC03549.JPG')
}
.galleryb-carousel-row3-seta-photo-1{
  background-image: url('../img/lowres-img/roadways/lowres_converted_converted_DSC01083.JPG')
}
.galleryb-carousel-row3-seta-photo-2{
  background-image: url('../img/lowres-img/roadways/lowres_converted_DSC01221.JPG')
}
.galleryb-carousel-row3-setb-photo-1{
  background-image: url('../img/lowres-img/roadways/lowres_converted_DSC01225.JPG')
}
.galleryb-carousel-row3-setb-photo-2{
  background-image: url('../img/lowres-img/roadways/lowres_DSC08581.JPG')
}





/* COLOR & BACK-IMAGE & TEXT PROPERTIES ++++++++++++++++++++++++++++++++++++++ */


/* To make coloring less hassle, determine the elements with same color values,
assign those elements to a particular color-group,
must be coded from parent to the child elements/containers */

/* template ---------------------------------------------------------------*/
.copyright{
  font-size: 0.7em !important;
}

/* extra.html ----------------------------------- */
.grid-extra-header > h1{
  font-size: 1.5em;
}
.grid-extra-easteregg > p{
  font-size: 0.8em;
}

/* index.html ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.G1-home p{
  color: light;
  text-align: center;
  font-size: 0.7em;
  margin: 2px;
}

/* main.html --------------------------------------------------- */
.grid-main-mid-banner h1{
	font-size: 1em;
  margin-top: 0;
  color: white;
}
.grid-main-mid-banner p{
  font-size: 0.5em;
  text-align: justify;
  color: white
}
.grid-main-upperclick,
.grid-main-lowerclick{
  text-align: center;
  z-index: 8;
  color: white;
  font-size: 0.75em;
}

/* gears.html ------------------------------------------ */
.G1-gears h3{
  font-size: 1em;
  margin-bottom: 2px;
}

.G1-gears .G3 p,
.G1-gears .G3 li{
  font-size: 0.85em;
  color: hsla(0, 1%, 77%, 1);
  margin-left: 5px;
  margin-right: 5px;
}
.G1-gears .grid-gear-content-text,
.G1-gears .grid-gear-content-review,
.G1-gears .grid-gear-content-specs{
  padding: 2px;
}

/* GEARS thumbnail effects --------------------------------- */
.photothumb{
	display: none;
}
.photothumb:target{
	display: grid;
}

/* galleryA&B.html ------------------------------------- */
.G1-galleryA h2,
.G1-galleryB h2{
  margin-left: 5px;
  font-weight: bold;
  text-align: center;
  color: gray;
  font-size: 1em;
  margin: 0;
  text-transform: uppercase;
}

/* contact.html --------------------------------------- */

.G1-contact small{
	display: block;
	font-size: 0.9em;
  text-align: center;
  color: gray;
}
.G1-contact .grid-message{
  color: white;
}

/* RWD FUNCTION ---------------------------------- */


/* MOBILE DEVICES +++++++++++++++++++++ */

@media only screen and (max-width: 450px) {}


/* Tablet, netbook, compact notebooks/ultrabooks 9in-13.3in)  ++++++++++++++++++++++ */

@media only screen and (min-width: 451px) and (max-width: 1024px) {
  .G1-extra,
  .G1-contact,
  .G1-galleryA,
  .G1-galleryB,
  .G1-gears,
  .G1-home,
  .G1-main,
  .G1-photo{
		width: 70%;
		margin: 0 auto;
  }

  /* MAIN.html +++++++++++++++++++++++++++++++++++++ */
  .grid-main-mid-banner h1{
    font-size: 2em;
  }
  .grid-main-mid-banner p{
    font-size: 1em;
  }
  .grid-main-upperclick,
  .grid-main-lowerclick{
    font-size: 0.9em;
  }

}

/* Standard Notebooks/Ultrabook, desktops, monitors @ > 14in DEVICES ++++++++++++++++++++++ */

@media only screen and (min-width: 1025px) {
  .G1-extra,
  .G1-contact,
  .G1-galleryA,
  .G1-galleryB,
  .G1-gears,
  .G1-home,
  .G1-main,
  .G1-photo{
    width: 40%;
    margin: 0 auto;
  }
  .grid-main-mid-banner h1{
    font-size: 2em;
  }
  .grid-main-mid-banner p{
    font-size: 1em;
  }
  .grid-main-upperclick,
  .grid-main-lowerclick{
    font-size: 0.8em;
  }

}

/* animate.css ++++++++++++++++++++++++++++++++++++++++++++= */

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}


@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
}


@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  animation-name: slideInDown;
}


@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
}


@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  animation-name: slideInRight;
}


@keyframes rotateIn {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    transform-origin: center;
    transform: none;
    opacity: 1;
  }
}

.rotateIn {
  animation-name: rotateIn;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

/* CSS3 Template version 1.3 - 20171128 +++++++++++++++++++++++++++++++++++++ */
/*  Developer: Michael James Turiano Albatana                                 */
/*  Email: mjtalbatana@gmail.com                                              */
/*  Github: https://github.com/mjtalbatana                                    */
/*  LinkedIn: https://www.linkedin.com/in/mjtalbatana                         */
/* END OF CSS FILE ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ *