*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
  color: white;
}

// CSS dimensions:
body{
  width: auto;
  height: auto;
  margin: 0 auto;
  main{
    width: auto;
    height: auto;
    margin: 0 auto;
  }
}

// CSS animations: