@mixin grid_area($fz, $fy, $fx, $fw){
  grid-area: $fz #{'/'} $fx #{'/'} $fy #{'/'} $fw;
}
@mixin grid_template($fz, $fy, $fx){
  display: grid;
  grid-template-areas: $fz;
  grid-template-rows: $fy;
  grid-template-columns: $fx;

}

@mixin flex($fz:'row nowrap', $fy:'center', $fx:'center', $fw:'center', $fv:'center', $fu:'center'){
  display: flex;
  flex-flow: $fz;
  justify-content: $fy;
  justify-items: $fx;
  align-content: $fw;
  align-items: $fv;
  text-align: $fu;
}

*{
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  background: black;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  user-select: none;
}

body{
  display: grid;
  width: 90vw;
  min-height: 100vh;
  height: auto;
  margin: 0 auto;
  grid-template-areas: "logo title nav nav avatar"
                       "main main main main main"
                       "main main main main main"
                       "footer footer footer footer footer";
  grid-template-rows: 3em 1em 1fr auto;
  grid-template-columns: 3em 150px 1fr 150px 3em;
  #logo{
    grid-area: logo;
    background: gold;
  }
  #title{
    @include flex_row_defaults();
    grid-area: title;
    background: orange;
  }
  nav{
    grid-area: nav;
    background: red;
    height: 100%;
    ul{
      height: 100%;
      @include flex();
      background: orange;
      li{
        list-style: none;
        padding: 5px 5px;
        height: auto;
        }
    }
  }
  #avatar{
    grid-area: avatar;
    background: darkgrey;
  }
  #snackbar{
    @include grid_area(2, 3, 1, 6);
    @include flex();
    height: 1.5em;
    background: green;
    color: black;
    font-size: 1em;
    text-indent: 5px;
    z-index: 1;
    // animation: animate_snackbar 7s ease-in 0s 1 normal;
    // &:hover{
    //   animation: animate_snackbar 7s ease-in 0s 1 normal;
    // }
  }
  main{
    grid-area: main;
    background: purple;
  }
  footer{
    grid-area: footer;
    background: blue;
    small{
      font-size: 0.7em;
    }
  }
  #leftmenu{
    @include grid_area(2, 3, 1, 3);
  }
  #rightmenu{
    @include grid_area(2, 3, 4, 6);
  }
}

li[class="interactive"]{
  background: black;
}
