@mixin grid_area($r1, $r2, $c1, $c2){
  grid-area: $r1 #{'/'} $c1 #{'/'} $r2 #{'/'} $c2;
}

@mixin flex_row_defaults{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

@keyframes animate_snackbar{
  0% {color: hsla(0, 0%, 0%, 0); height: 0em;}
  5% {height: 1em; padding: 2px 0; font-size: 0.7em;}
  15% {color: hsla(0, 0%, 0%, 0);}
  25% {color: hsla(0, 0%, 0%, 0); height: 1em; padding: 2px 0; font-size: 0.9em;}
  30% {color: hsla(0, 0%, 0%, 1);}
  100% {color: hsla(0, 0%, 0%, 1); height: 1em; padding: 2px 0; font-size: 0.9em;}
}

*{
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  background: black;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  user-select: none;
}

body{
  display: grid;
  width: 90vw;
  min-height: 100vh;
  height: auto;
  margin: 0 auto;
  grid-template-areas: "logo title nav nav avatar" "main main main main main" "main main main main main" "footer footer footer footer footer";
  grid-template-rows: 3em 1em 1fr auto;
  grid-template-columns: 3em 150px 1fr 150px 3em;
  #logo{
    grid-area: logo;
    background: gold;
  }
  #title{
    @include flex_row_defaults();
    grid-area: title;
    background: orange;
  }
  nav{
    grid-area: nav;
    background: red;
    height: 100%;
    ul{
      height: 100%;
      @include flex_row_defaults();
      justify-content: flex-end;
      background: orange;
      li{
        list-style: none;
        padding: 5px 5px;
        height: auto;
        }
    }
  }
  #avatar{
    grid-area: avatar;
    background: darkgrey;
    // transition:
  }
  #snackbar{
    @include grid_area(2, 3, 1, 6);
    display: block;
    height: 2px;
    background: green;
    color: hsla(0, 0%, 0%, 0);
    z-index: 1;
    animation: animate_snackbar 7s ease-in 0s 1 normal;
    font-size: 0;
    text-indent: 5px;
    &:hover{
      animation: animate_snackbar 7s ease-in 0s 1 normal;
    }
  }
  main{
    grid-area: main;
    background: purple;
  }
  footer{
    grid-area: footer;
    background: blue;
    small{
      font-size: 0.7em;
    }
  }
}

li[class="interactive"]{
  background: black;
}