@mixin flex_shorthand($fz:row nowrap, $fy:center, $fx:center, $fw:center, $fv:center, $fu:center){
  display: flex;
  flex-flow: $fz;
  justify-content: $fy;
  justify-items: $fx;
  align-content: $fw;
  align-items: $fv;
  text-align: $fu;
}

*{
  background: black;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  border: 0.1px solid white;
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
body{
  display: grid;
  width: 90vw;
  height: auto;
  margin: 0 auto;
  grid-template-areas: "nav" "main" "footer";
  grid-template-rows: 2em 1fr 1em;
  nav{
    grid-area: nav;
    display: grid;
    grid-template-areas: "h2 ul";
    grid-template-rows: auto;
    grid-template-columns: "1fr auto"
    h2{
    }
    ul{
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      li{
        list-style: none;
        padding: 0 5px;
      }
    }
  }
  main{
    grid-area: main;
    width: 100%;
    #snackbar{
      height: 1em;
      small{
        font-size: 0.7em;
      }
    }
    #signinform,
    #signupform,
    #editaccountform{
      display: flex;
      flex-flow: column nowrap;
      width: 200px;
      margin: 0 auto;
      text-align: center;
      input{
        text-align: center;
        font-size: 0.8em;
      }
    }
    table{
      thead{

      }
      tbody{
        tr{
          .userlink:hover{
            color: purple;

          }
        }
      }
    }
  }
  footer{
    grid-area: footer;
    font-size: 0.8em;
  }
}

.userlink:hover{
  color: purple;
}

#thumbnail{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  .containers{
    display: grid;
    height: auto;
    width: 200px;
    // padding: 10px;
    margin: 5px;
    grid-template-areas: "name name" "image image" "price category" "desc desc" "forms forms";
    grid-template-rows: 1.5em 150px 1.5em 150px 3em;
    grid-template-columns: 1fr 1fr;
    .itemname{
      grid-area: name;
    }
    .itemimage{
      grid-area: image;
      width: 200px;
      // height: 150px;
    }
    .itemprice{
      grid-area: price;
      @include flex_shorthand();
    }
    .itemcategory{
      grid-area: category;
      @include flex_shorthand();
    }
    .itemdescription{
      grid-area: desc;
    }
    .itemform{
      grid-area: forms;
      display: grid;
      width: 200px;
      grid-template-areas: "labelA labelB submit" "inputA inputB submit";
      grid-template-columns: 60px 60px 1fr;
      grid-template-rows: 1fr 1.1fr;
      .itemkey{
        display: none;
      }
      .itemqtycurrentlbl{
        grid-area: labelA;
        font-size: 0.9em;
        @include flex_shorthand();
      }
      .itemqtycurrent{
        grid-area: inputA;
        @include flex_shorthand();
      }
      .itemqtylbl{
        grid-area: labelB;
        font-size: 0.9em;
        @include flex_shorthand();
      }
      .itemqty{
        grid-area: inputB;
        @include flex_shorthand();
      }
      .addtocart{
        grid-area: submit;
      }
    }
  }
}

//MODALS
#modal{
  width: 100%;
  height:100%;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
  #modal-content{
    display: grid;
    width: 300px;
    height: auto;
    margin: 0 auto;
    grid-template-areas: "modaltop modalclose" "modaltext modaltext";
    grid-template-columns: 1fr 20px;
    grid-template-rows: 25px auto;
    background-color: red;
    .modal-top{
      grid-area: modaltop;
    }
    .modal-close{
      grid-area: modalclose;
      color: orange;
      font-size: 28px;
      font-weight: bold;
      &:hover{
        color: gray;
        text-decoration: none;
        cursor: pointer;
      }
      &:focus{
        color: gray;
        text-decoration: none;
        cursor: pointer;
      }
    }
    .modal-text{
      grid-area: modaltext;
    }
    .modal-confirm{
      grid-area: modalconfirm;
    }
  }
}