*{
  background: black;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  border: 0.1px solid white;
  padding: 0 2px;
  margin: 0;
  box-sizing: content-box;
}
body{
  display: grid;
  width: 90vw;
  height: 90vh;
  margin: 0 auto;
  grid-template-areas: "nav" "main" "footer";
  grid-template-rows: 2em 1fr 1em;
  nav{
    grid-area: nav;
    display: grid;
    grid-template-areas: "h2 ul";
    grid-template-rows: auto;
    grid-template-columns: "1fr auto"
    h2{

    }
    ul{
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      li{
        list-style: none;
        padding: 0 5px;
      }
    }
  }
  main{
    grid-area: main;
    width: 100%;
    #snackbar{
      height: 1em;
      small{
        font-size: 0.7em;
      }
    }
    #signinform,
    #signupform{
      display: flex;
      flex-flow: column nowrap;
      width: 200px;
      margin: 0 auto;
      text-align: center;
      input{
        text-align: center;
        font-size: 0.8em;
      }
    }
    table{
      thead{

      }
      tbody{
        tr{
          .userlink:hover{
            color: purple;

          }
        }
      }
    }
  }
  footer{
    grid-area: footer;
    font-size: 0.8em;
  }
}

.userlink:hover{
  color: purple;
}

#thumbnail{
  display: flex;
  width: 100%;
  flex-flow: row;
  .containers{
    display: grid;
    height: 250px;
    width: 150px;
    grid-template-areas: "name" "description" "image" "price" "category";
    grid-template-rows: 1em 1fr 1fr 1em 1em;
    grid-template-columns: 1fr;
    .name{
      grid-area: name;
    }
    .description{
      grid-area: description;
      font-size: 0.7em;
    }
    .image{
      grid-area: image;
      width: 100%;
      height: 100%;
    }
    .price{
      grid-area: price;

    }
    .category{
      grid-area: category;

    }
  }
}