.practice01{
    width: 50px;
    height: 50px;
    background: green;
    transition: width 3s;
    /* transition-timing-function: cubic-bezier(0,0,1,1); */
    /* transition-timing-function: ease; */
    /* transition-timing-function: linear; */
    /* transition-timing-function: ease-in; */
    transition-timing-function: ease-out;
}
.practice01:hover{
    width: 250px;
}
.practice02{
    width: 200px;
    height: 100px;
    margin-top: 30px;
    background: pink;
    transition: 3s;
    trans
    transition-timing-function: ease-out
}
.practice02:hover{
    transform: rotate(20deg);
}
.empty{
    position: relative;
    height: 100px;
    width: 100px;
    margin: 30px;
    padding: 10px;
    border: 1px solid black;
}
.green{
    padding: 50px;
    position: absolute;
    background: green;
    border: 1px solid white;
    transform: rotate(10deg);
    /* transform-origin: 50% 0%; */
    transform-origin: top right;
}