/*  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: gray;
}
.wrapper{
  background-color: white;
  margin: 0 auto;
  width: 90%;
  padding: 20px;
}
h2{
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
/* ------------------------------------ */
.box01{
  width: 150px;
  height: 150px;
  background-color: orange;
}
/* ------------------------------------ */
.item02{
  position: relative
}
.box02a{
  width: 150px;
  height: 150px;
  background-color: blue;
}
.box02b{
  width: 100px;
  height: 150px;
  background-color: orange;
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 25px;
}
/* ------------------------------------ */
.box03{
  padding: 10px;
  display: inline-block;
  border: 1px solid #000;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* ------------------------------------ */
.box04{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: pink;
}
/* ------------------------------------ */
.box05{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: pink;
}
.item05 p{
  display: inline-block;
  height: 100%;
  line-height: 150px;
  width: 100%;
  text-align: center;
}
/* ------------------------------------ */
.box06a{
  height: 100px;
  width: 200px;
  display: block;
  border: 1px solid black;
  background-image: url("../img/flowerborder.jpg");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position-y: 100%;
}
/* ------------------------------------ */
.box07{
  height: 100px;
  width: 200px;
  border: 1px solid #000;
  position: relative;
}
.item07 img{
  width: 50px;
}
.item07 img[alt="sun"]{
  position: absolute;
  top: 0;
  left: 0;
}
.box07 img[alt="coconut"]{
  position: absolute;
  bottom: 0;
  right: 0;
}
/* ------------------------------------ */
.box08{
  height: 100px;
  width: 400px;
  border: 1px solid #000;
  position: relative;
}
.item08 img{
  width: 50px;
}
.item08 img[alt="sun"]{
  position: absolute;
  top: 0;
  left: 0;
}
.box08 img[alt="coconut"]{
  position: absolute;
  bottom: 0;
  right: 0;
}
.box08 p{
  text-align: center;
  line-height: 100px;
}
/* ------------------------------------ */
.box09{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-image: url("../img/dog.jpg");
  background-size: 100%;
}
/* ------------------------------------ */
.item10{
  width: 400px;
  height: auto;
  border: 1px solid black;
  display: block;
}
.box10{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-image: url("../img/dog.jpg");
  background-size: 100%;
  display: inline-block;
  vertical-align: middle;
}
.item10 p{
  /* height: auto; */
  width: auto;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
/* ------------------------------------ */
.box11{
  width: 70%;
  height: auto;
  border: 2px solid black;
}
.item11 img,
.item11 h1,
.item11 p{
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
}
.item11 img{
  width: 100px;
}
/* ------------------------------------ */
.box12a{
  width: 70%;
  height: auto;
  border: 2px solid black;
  z-index: 5;
}
.item12 img,
.item12 h1,
.item12 p{
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
}
.item12 img{
  width: 100px;
}
.item12 .box12b{
  background: lightcoral;
}
/* ------------------------------------ */
.item13 table{
  line-height: 2em;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid black;
}
.item13 th{
  color: white;
  background: black;
  /* border: black; */
  padding: 0.5em;
}
.item13 tr td{
  padding: 0.5em;
  border: 1px solid black;
}