*{
    margin: 0;
    padding: 0;
}

/* built-in elements */
h1{
    /* position: relative; */
}
body{
    

}
p{
    height: 200px;
    /* position: static; */
    /* margin-left: 50px; */
    /* margin-top: -20px; */
    /* position: relative; */
}


/* div modifier */
.grandparent{
    background-color: skyblue;
    /* position: relative; */
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 30%;
}

.parent{
    background-color: pink;
    /* position: relative; */

}

div{
    padding: 20px;
}

input[name="firstname"]{
    margin-right: 20px;
}

strong{
    background-color: yellow;
    position: absolute;
    top: 10px;
    left: 10px;
    
}

othergrandparent{
    /* position: relative; */
}