*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: gray;
}

.wrapper{
  background-color: white;
  width: 80vw;
  /* height: 100vw; */
  margin: 0 auto;
}

.box{
  border: 5px solid black;
  width: 50%;
  height: 300px;
  float: left;

}

.clear:after{
  content: "";
  display: block;
  clear: both;
}

.nav-box{
  border: 2px solid black;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 20px;
}

nav{
  position: absolute;
  top: 0;
  left: 0;
}

#red{
  background: red;
}
#orange{
  background: orange;
}
#yellow{
  background: yellow;
}
#green{
  background: green;
}
#blue{
  background: blue;
}
#indigo{
  background: indigo;
}
#violet{
  background: violet;
}
#white{
  background: white;
}
