/**
 * General Rules
 */

body {
	background-color: gold;
}

.navbar,
.btn {
	border-radius: 0;
}

/**
 * Main Header
 */

.navbar-inverse {
	margin-bottom: 0;
}

/**
 * Content
 */

.wrapper {
	width: 80vw;
	min-height: 84vh;
	background-color: #fff;
	margin: 0 auto;
}

#catalogWrapper {
	height: 100%;
}

h1 {
	margin: 0;
}

#loginForm,
#registerForm {
	width: 40%;
	margin: 0 auto;
}

table,
thead,
tbody,
th,
tr,
td {
	border: 1px solid #000;
	padding: 15px;
	border-collapse: collapse;
}

.red-message {
	color: red;
}

.green-message {
	color: green;
}

.item-parent-container {
	width: 30%;
	display: inline-block;	
	margin: 10px;
}

.item-parent-container input {
	width: 100%;
}

.item-container {
	width: 100%;
	background-color: lightgrey;
	padding: 15px;
	text-align: center;
}

.item-container img {
	width: 100%;
}

.item-container p:last-child {
	height: 100px;
	overflow: hidden;
}

.item-container h3 {
	height: 50px;
}

/**
 * Main Footer
 */
 
.main-footer {
	background-color: lightgrey;
	padding: 15px;
	text-align: center;
}