*{
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}


body{
  background: gold;
  width: 100vw;
  height: auto;
  main{
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    background: hsl(0, 0%, 30%);
  }
  #nav-main{
    border-radius: 0;
  }
  footer[class*='main-footer']{
    text-align: center;
  }
}